

.blue, .yellow, .green, .orange, .red {
    width: 140px;
    height: 105px;
    border: solid 1px white;
    margin: 2.5%;
    display: inline-block;
    float: left;
    position: relative;
}

.blue {background-color: #3BB9FF;}
.yellow {background-color: #B1FB17;}
.green {background-color: #808000;}
.orange {background-color: #F87217;}
.red {background-color: #E42217;}


.lower {
    background-color: #222;
    height: 560px;  }

.lite { background-color: #95a5a6;
        height: 150px;}
